body{
  background-image: url(https://images.pexels.com/photos/16063432/pexels-photo-16063432/free-photo-of-homme-main-appareil-photo-retro.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
  color:white;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}
 
h1, p{
  margin: 1em;
  text-align: center;
}
 form{
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;

 }
 fieldset {
  border: none;
  border-bottom: 3px solid white;
 }
 a{
  color:  white;
 }

 label{
  display: block;
  margin: 0,5rem 0;
 }
 input, textarea{
  background-color: gray;
  color: white;
  border: 1px solid gray;
 }
 
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em; }

.inline {
  width: unset;
  margin: 0 1px 0 0;
  vertical-align: middle;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}


input[type="file"] {
  padding: 1px 2px;
}
::placeholder{
  color: white;
}

